
{{!-- Create a table --}}
<p style="margin-bottom:.5cm;">
<table id="customer-table" border=".5" cellpadding="3">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the given attribute, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.customerID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.address}}</td>
        </tr>
        {{/each}}
    </tbody>

</table>

<p style="margin-bottom:.5cm;" id="insert" style="display: block">
    <form id="add-customer-form-ajax">
    <legend><strong>Add Customer</strong></legend>
    <fieldset class="fields">
        <table>
        <tr><td><input type="text" name="input-fname" id="input-fname" placeholder="First Name">

        <tr><td><input type="text" name="input-lname" id="input-lname" placeholder="Last Name">

        <tr><td><input type="text" name="input-email" id="input-email" placeholder="Email">

        <tr><td><input type="text" name="input-phone" id="input-phone" placeholder="Phone">

        <tr><td><input type="text" name="input-address" id="input-address" placeholder="Address">

        <tr><td><input type="submit">
    </fieldset>
    </form>
</div>
<script src="./js/add_customer.js"></script>