<p>Search by name using the field below. Must be full name.</p>
<form id="search-product-html" method="GET" action="/products">
    <label for="input-name">Search by Product Name:</label>
    <input type="text" name="name" id="input-name-html-search">

    <input type="submit">
</form>
    <a href="/products"><button>Reset</button></a>


{{!-- Create a table --}}
<table id="product-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the given attribute, in order --}}
        {{#each data}}
        <tr data-value={{this.productID}}>
            <td>{{this.productID}}</td>
            <td>{{this.productName}}</td>
            <td>{{this.description}}</td>
            <td>{{this.unitPrice}}</td>
            <td>{{this.quantityInStock}}</td>
            <td>{{this.supplierID}}</td>
            <td>{{this.categoryID}}</td>
            <td><button onclick="deleteProduct('{{this.productID}}')">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="../js/delete_product.js"></script>


<div id="insert" style="display: block">
    <form id="add-product-form-ajax">
    <legend><strong>Add Product</strong></legend>
    <fieldset class="fields">
        <label for="input-name">Product Name</label>
        <input type="text" name="input-name" id="input-name">
        <br>

        <label for="input-description">Description</label>
        <input type="text" name="input-description" id="input-description">
        <br>

        <label for="input-unit-price">Unit Price</label>
        <input type="text" name="input-unit-price" id="input-unit-price">
        <br>

        <label for="input-quantity">Quantity in Stock</label>
        <input type="text" name="input-quantity" id="input-quantity">
        <br>

        {{!-- <label for="input-supplier">Supplier ID</label> --}}
        {{!-- <input type="text" name="input-supplier" id="input-supplier"> --}}
        <select name="input-supplier" id="input-supplier">
            <option value="">Select a Supplier</option>
            {{#each suppliers}}
            <option value="{{this.supplierID}}">{{this.supplierName}}</option>
            {{/each}}
        </select>
        <br>

        {{!-- <label for="input-category">Category ID</label> 
        <input type="text" name="input-category" id="input-category"> --}}
        <select name="input-category" id="input-category">
            <option value="">Select a Category</option>
            {{#each categories}}
            <option value="{{this.categoryID}}">{{this.category}}</option>
            {{/each}}
        </select>
        <br>

        <input type="submit">
    </fieldset>
    </form>
</div>
<script src="./js/add_product.js"></script>

<legend><strong>Update Product Supplier</strong></legend>
<form id="update-product-form-ajax">

    <label for="input-name">Product Name:</label>
    <select name="input-name" id="mySelect">
        <option value="test">Select a Product</option>
        {{#each data}}
        <option value="{{this.productID}}">{{this.productName}}</option>
        {{/each}}
    </select>

    <label for="input-supplier">Supplier:</label>
    <select name="input-supplier" id="input-supplier-update">
        <option>Select a Supplier</option>
        {{#each suppliers}}
        <option value="{{this.supplierID}}">{{this.supplierName}}</option>
        {{/each}}
    </select>
    <input type="submit">

</form>

<script src="./js/update_product.js"></script>
