<table>
    <form id="search-product-html" method="GET" action="/products">
        <input type="text" name="name" id="input-name-html-search" placeholder="Search by Full Product Name">

        <input type="submit">
    </form>
        <tr><td><a href="/products"><button>Reset</button></a>


{{!-- Create a table --}}
<p style="margin-bottom:.5cm;">
<table id="product-table" border=".5" cellpadding="3">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the given attribute, in order --}}
        {{#each data}}
        <tr data-value={{this.productID}}>
            <td>{{this.productID}}</td>
            <td>{{this.productName}}</td>
            <td>{{this.description}}</td>
            <td>{{this.unitPrice}}</td>
            <td>{{this.quantityInStock}}</td>
            <td>{{this.supplierID}}</td>
            <td>{{this.categoryID}}</td>
            <td><button onclick="deleteProduct('{{this.productID}}')">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="../js/delete_product.js"></script>


<p id="insert" style="display: block" style="margin-bottom:3cm;">
    <form id="add-product-form-ajax">
    <legend><strong>Add Product</strong></legend>
    <fieldset class="fields">
        <table>
            <tr><td><input type="text" name="input-name" id="input-name" placeholder="Product Name"><br>

            <tr><td><input type="text" name="input-description" id="input-description" placeholder="Description"><br>

            <tr><td><input type="number" step="0.01" name="input-unit-price" id="input-unit-price" placeholder="Unit Price"><br>

            <tr><td><input type="number" name="input-quantity" id="input-quantity" placeholder="Quantity in Stock"><br>

            <tr><td><select name="input-supplier" id="input-supplier">
                    <option value="">Select a Supplier</option>
                    {{#each suppliers}}
                    <option value="{{this.supplierID}}">{{this.supplierName}}</option>
                    {{/each}}
                    </select>
                    <br>

            <tr><td><select name="input-category" id="input-category">
                    <option value="">Select a Category</option>
                    {{#each categories}}
                    <option value="{{this.categoryID}}">{{this.category}}</option>
                    {{/each}}
                    </select>
                    <br>
            
            <tr><td><input type="submit">

        </table>
    </fieldset>
    </form>
</div>
<script src="./js/add_product.js"></script>

<p id="update" style="display: block" style="margin-bottom:3cm;"></p>
    <form id="update-product-form-ajax">
    <legend><strong>Update Product Supplier</strong></legend>
    <fieldset class="fields">
        <table>

            <tr><td><select name="input-name" id="mySelect">
                        <option value="test">Select a Product</option>
                        {{#each data}}
                        <option value="{{this.productID}}">{{this.productName}}</option>
                        {{/each}}
                    </select>

            <tr><td><input type="text" name="input-description" id="input-description-update" placeholder="Description">

            <tr><td><select name="input-supplier" id="input-supplier-update">
                        <option>Select a Supplier</option>
                        {{#each suppliers}}
                        <option value="{{this.supplierID}}">{{this.supplierName}}</option>
                        {{/each}}
                    </select>

            <tr><td><select name="input-category-update" id="input-category-update">
                <option value="">Select a Category</option>
                {{#each categories}}
                <option value="{{this.categoryID}}">{{this.category}}</option>
                {{/each}}
                <option>null</option>
            </select>

            <tr><td><input type="submit">

</form>

<script src="./js/update_product.js"></script>
