
{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the given attribute, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.productID}}</td>
            <td>{{this.productName}}</td>
            <td>{{this.description}}</td>
            <td>{{this.unitPrice}}</td>
            <td>{{this.quantityInStock}}</td>
            <td>{{this.supplierID}}</td>
            <td>{{this.categoryID}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div id="insert" style="display: block">
    <form id="add-product-form" method="POST" action="/add-product-form">
    <legend><strong>Add Product</strong></legend>
    <fieldset class="fields">
        <label for="input-name">Product Name</label>
        <input type="text" name="input-name" id="input-name">
        <br>

        <label for="input-description">Description</label>
        <input type="text" name="input-description" id="input-description">
        <br>

        <label for="input-unitPrice">Unit Price</label>
        <input type="text" name="input-price" id="input-price">
        <br>

        <label for="input-quantity">Quantity in Stock</label>
        <input type="text" name="input-quantity" id="input-quantity">
        <br>

        <label for="input-supplier">Supplier ID</label>
        <input type="text" name="input-supplier" id="input-supplier">
        <br>

        <label for="input-category">Category ID</label>
        <input type="text" name="input-category" id="input-category">
        <br>

        <input type="submit">
    </fieldset>
    </form>
</div>