{{!-- Create a table --}}
<table id="salesorders-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the given attribute, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.orderID}}</td>
            <td>{{this.orderDate}}</td>
            <td>{{this.customerID}}</td>
        </tr>
        {{/each}}
    </tbody>
</tbody>
</table>

<div id="insert" style="display: block">
    <form id="add-salesorders-form-ajax">
        <legend><strong>Add Sale Order</strong></legend>
        <fieldset class="fields">



            <label for="input-orderDate">Order Date</label>
            <input type="date" name="input-orderDate" id="input-orderDate" value="{{todayDate}}">
            <br>

            <select name="input-customerID" id="input-customerID">
            <option value="">Select a Customer</option>
            {{#each customers}}
            <option value="{{this.customerID}}">{{this.firstName}}</option>
            {{/each}}
            </select>
            <br>

            <input type="submit">
        </fieldset>
    </form>
</div>


<script>
    // Set the default value of the order date to the current date
    document.getElementById('input-orderDate').valueAsDate = new Date();
</script>

<script src="./js/add_salesorders.js"></script>