
<p>Search by name using the field below. Must be full name.</p>
<form id="search-supplier-html" method="GET" action="/suppliers">
    <label for="input-name">Search by Supplier Name:</label>
    <input type="text" name="name" id="input-name-html-search">

    <input type="submit">
</form>
    <a href="/suppliers"><button>Reset</button></a>

{{!-- Create a table --}}
<table id="supplier-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the given attribute, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.supplierID}}</td>
            <td>{{this.supplierName}}</td>
            <td>{{this.contactName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.address}}</td>
        </tr>
        {{/each}}
    </tbody>
