<table>
    <form id="search-supplier-html" method="GET" action="/suppliers">
        <input type="text" name="name" id="input-name-html-search" placeholder="Search by Supplier Name">

        <input type="submit">
    </form>
       <tr><td><a href="/suppliers"><button>Reset</button></a>

{{!-- Create a table --}}
<p style="margin-bottom:.5cm;"></p>
<table id="supplier-table" border=".5" cellpadding="3">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>   
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the given attribute, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.supplierID}}</td>
            <td>{{this.supplierName}}</td>
            <td>{{this.contactName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.address}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


<p style="margin-bottom:.5cm;" id="insert" style="display: block">
    <form id="add-supplier-form-ajax">
    <legend><strong>Add Supplier</strong></legend>
    <fieldset class="fields">
        <table>
            <tr><td><input type="text" name="input-name" id="input-name" placeholder="Supplier Name">
            <br>

            <tr><td><input type="text" name="input-contact-name" id="input-contact-name" placeholder="Contact Name">
            <br>

            <tr><td><input type="text" name="input-email" id="input-email" placeholder="Email">
            <br>

            <tr><td><input type="text" name="input-phone" id="input-phone" placeholder="Phone">
            <br>

            <tr><td><input type="text" name="input-address" id="input-address" placeholder="Address">
            <br>

            <tr><td><input type="submit">
        </table>
    </fieldset>
    </form>
</div>
<script src="./js/add_supplier.js"></script>
